body {
    margin: 0px;
    padding: 0px;
    /* -- */
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* -- */
    color: #ffffff;
    /*---*/
    background: #000000;
}

.index-body {
    background: url(../img/bckgr-index.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

address {
    font: inherit;
}

.index-width {
    max-width: 1175px;
}

.main-header {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: inherit;
    background-color: #000000;
}

.main-header_content {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-header_content ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* clear default padding*/
}

.main-header_content li {
    float: left;
}

.main-header a {
    /* text-decoration-line: none; */
    /* margin-left: 10px; */
    display: block;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    outline: none;
    min-height: 24px;
}

.main-header_selected-item {
    border-bottom: 3px #ffffff solid;
}

.main-header a:hover,
.main-header a:focus,
.auth_btn-modal:hover,
.auth_btn-modal:focus {
    background: #242424;
    border: none;
}

.main-header_auth {
    display: flex;
}

.auth_btn {
    font: inherit;
    text-transform: inherit;
    background: inherit;
    color: inherit;
    border: none;
    /* padding: 10px; */
    outline: none;
    margin-left: auto;
}

.auth_btn:focus,
.auth_btn:hover {
    background: #242424;
    color: #ffffff;
}


/*----------- main content ---------*/

.main-content {
    /*background: url(../img/bckgr-index.jpg);*/
    padding-bottom: 25px;
}

.main-content_logo {
    width: 360px;
    margin: 0 auto;
}


/**/

.main-content_features {
    display: flex;
    width: 50%;
    margin: 0 auto 32px auto;
    /* color: #ffffff; */
    text-align: center;
    justify-content: space-around;
}

.features_list {
    /* width: 33%; */
    list-style: none;
}

.features_item {
    text-align: center;
    flex-basis: 33%;
    padding: 20px;
    line-height: 20px;
}

.features_item h3 {
    font-size: 30px;
    line-height: 32px;
}

.features_item h3::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    margin: 15px auto;
    transform: rotate(45deg);
}

.features_text {
    margin: 0px;
    /* откуда наследуются отступы? */
}

.main-content_index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 32px;
    /* font-size: 16px; */
    color: #000000;
}

.main-content_index h3 {
    margin: 0px;
    font-size: 30px;
    line-height: 32px;
}

.content_news,
.content_contacts {
    flex-basis: 50%;
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 40px;
    padding-left: 80px;
}

.content_gallery {
    flex-basis: 50%;
    padding: 50px;
}

.news_item {
    margin-bottom: 20px;
}

.news_item p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.content_divider {
    min-width: 15px;
    align-items: stretch;
    background-image: url("../img/gradient-index.png");
    background-repeat: no-repeat;
    background-position-y: center;
}

.common_btn {
    min-width: 145px;
    font-family: inherit;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: none;
    /* outline: none; */
    background-color: #000000;
    color: #ffffff;
}

.common_btn:hover,
.common_btn:focus,
.common_btn:active {
    background-color: #663d15;
}

.index_blog {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
    background-color: #f5f3f1;
}

.item_date {
    text-transform: none;
}

.index_contacts {
    display: flex;
    background-color: #f5f3f1;
}

.gallery_img {
    width: 100%;
    max-height: 200px;
    border: 10px #ffffff solid;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 32px;
}

.gallery_action {
    display: flex;
    justify-content: space-between;
}


/*---------------*/

.main-container_contacts {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    color: #000000;
    margin-bottom: 20px;
}

.contacts_info {
    flex-basis: 50%;
    /*margin: 20px;*/
    padding-top: 20px;
}

.contacts_info h3 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
}

.info_worktime {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content_booking {
    flex-basis: 50%;
    padding: 80px;
}

.booking_timestamp {
    display: flex;
    justify-content: space-between;
}

.timestamp_date {
    margin-bottom: 15px;
}

.booking_timestamp span {
    padding: 15px;
}

.booking_client {
    display: flex;
    justify-content: space-between;
}

.client_name {
    margin-bottom: 15px;
}

.booking_client span {
    padding: 15px;
}

.booking_input {
    width: 90%;
    border: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    /* выравнен влево :( */
}

.booking_input:hover,
.booking_input:focus,
.booking_input:active {
    border: 2px solid #663d15;
}

.btn-submit {
    width: 100%;
}


/*----------- footer ---------------*/

.main-footer {
    width: 100%;
    color: #ffffff;
    background: #212121;
}

.main-footer_container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-footer a {
    /* color: #ffffff; */
    color: inherit;
}

.info_question {
    color: #ffffff;
    text-decoration: underline;
}

.info_question:hover,
.info_question:hover {
    text-decoration: none;
}

.main-footer_social {
    text-align: center;
}

.main-footer_social ul {
    list-style: none;
}

.main-footer_developer {
    text-align: center;
}

.main-footer_developer a {
    background-color: #000000;
    color: inherit;
}

.main-footer_developer a:focus,
.main-footer_developer a:hover {
    background-color: #ffffff;
    color: #000000;
}


/*--- modal form ----*/

.modal_login {
    background: #ffffff;
    color: #000000;
    margin: 0;
}

.login-form input {
    font: inherit;
    text-transform: uppercase;
    border: 2px solid #000000;
}

.login-form input:hover,
.login-form input:focus {
    border: 2px solid #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    font: inherit;
    color: inherit;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}


/*-------- hidden elements ----------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


/*
 *
 *============ price ============
 *
 */

.price-body {
    background: url(../img/barbershop-price.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.link_logo {
    min-width: 111px;
    min-height: 24px;
}

.price-width {
    width: 75%;
}

.price-content {
    /* background-color: #f8f4f1; */
    background-color: transparent;
    color: #000000;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.content-title {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
    max-width: 50%;
}

.price-content h3 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 25px;
    max-width: 50%;
}


/* -- breadcrumbs -- */

.content_breadcrumbs {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.breadcrumbs_item,
.breadcrumbs_item-disabled {
    display: inline-block;
    padding-right: 10px;
}

.breadcrumbs_item a {
    color: #000000;
}

.breadcrumbs_item a:hover,
.breadcrumbs_item a:focus {
    color: #663d15;
}

.breadcrumbs_item-disabled {
    color: gray;
}


/*---*/

.grid_title::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 160px;
    border-top: 2px #000000 solid;
    margin-right: 20px;
}

.grid_title::after {
    content: "";
    display: inline-block;
    height: 15px;
    width: 160px;
    border-top: 2px #000000 solid;
    margin-left: 20px;
}

.grid_title {
    font-size: 49px;
    line-height: 38px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.grid_promotion {
    font-size: 14px;
    line-height: 32px;
    width: 50%;
}

.grid_promotion ul {
    list-style: none;
    padding: 0px;
}

.promotion_item::before {
    content: "";
    background-image: url("../img/diamond-divider.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 12px;
}

.grid_prices {
    width: 50%;
    padding-left: 20px;
}

.prices_details {
    border-collapse: collapse;
    width: 100%;
}

.prices_details td {
    width: 50%;
    padding: 10px;
}

.prices_details td:nth-child(2n) {
    text-align: center;
}

.prices_details td {
    border: 2px #000000 solid;
}

.content_grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.about_columns {
    display: flex;
}

.about_columns p {
    display: block;
    padding-right: 100px;
}