body {
    margin: 0px;
    padding: 0px;
    /* -- */
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* -- */
    color: #ffffff;
    /*---*/
    background: #000000;
    background: url(../img/bckgr-index.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

address {
    font: inherit;
}

.main-header {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.main-header ul {
    list-style: none;
}

.main-header li {
    float: left;
}

.main-header_content {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-header_content ul {
    margin: 0 auto;
    /* для сброса фантомных полей :( */
}


/* .main-header_page-nav {
display: flex;
justify-content: space-between;
align-items: center;
} */

.main-header a {
    /* text-decoration-line: none; */
    /* margin-left: 10px; */
    display: block;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    outline: none;
}

.main-header a:hover,
.main-header a:focus,
.auth_btn-modal:hover,
.auth_btn-modal:focus {
    background: #242424;
}

.main-header_auth {
    display: flex;
}

.auth_btn {
    font: inherit;
    text-transform: inherit;
    background: inherit;
    color: inherit;
    border: none;
    /* padding: 10px; */
    outline: none;
}

.auth_btn:focus,
.auth_btn:hover {
    background: #242424;
    color: #ffffff;
}


/*----------- main content ---------*/

.main-content {
    /*background: url(../img/bckgr-index.jpg);*/
    padding-bottom: 25px;
}

.main-content_logo {
    width: 360px;
    margin: 0 auto;
}


/**/

.main-content_features {
    display: flex;
    width: 50%;
    margin: 0 auto;
    /* color: #ffffff; */
    text-align: center;
    justify-content: space-between;
}

.features_list {
    /* width: 33%; */
    list-style: none;
}

.features_item {
    text-align: center;
}

.features_item h3 {
    font-size: 30px;
    line-height: 42px;
}

.features_item h3::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    margin: 0 auto;
    transform: rotate(45deg);
}

.main-content_index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 16px;
    /* background-color: #f8f5f2; */
    color: #000000;
}

.main-content_index h3 {
    font-size: 30px;
    line-height: 42px;
}

.common_btn {
    font-family: inherit;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: none;
    /* outline: none; */
    background-color: #000000;
    color: #ffffff;
}

.common_btn:hover,
.common_btn:focus,
.common_btn:active {
    background-color: #663d15;
}

.index_blog {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    background-color: #ffffff;
}

.item_date {
    text-transform: none;
}

.index_contacts {
    display: flex;
    background-color: #ffffff;
}


/*---------------*/

.blog_gallery {
    margin: 0 auto;
}

.main-container_contacts {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    color: #000000;
    margin-bottom: 20px;
}

.contacts_info {
    flex-basis: 50%;
    /*margin: 20px;*/
    padding-left: 20px;
}

.contacts_booking {
    flex-basis: 50%;
    padding: 20px;
}

.booking_timestamp {
    display: flex;
    justify-content: space-between;
}

.timestamp_date {
    margin-bottom: 15px;
}

.booking_timestamp span {
    padding: 15px;
}

.booking_client {
    display: flex;
    justify-content: space-between;
}

.client_name {
    margin-bottom: 15px;
}

.booking_client span {
    padding: 15px;
}

.booking_input {
    width: 90%;
    border: 2px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    /* выравнен влево :( */
}

.booking_input:hover,
.booking_input:focus,
.booking_input:active {
    border: 2px solid #663d15;
}

.btn-submit {
    width: 100%;
}

.info_worktime {
    margin: 2px;
}


/*----------- footer ---------------

.main-content_pre-footer {
display: block;
height: 65px;
}
*/

.main-footer {
    width: 100%;
    color: #ffffff;
    background: #212121;
}

.main-footer_container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-footer a {
    /* color: #ffffff; */
    color: inherit;
}

.info_question {
    color: #ffffff;
    text-decoration: underline;
}

.info_question:hover,
.info_question:hover {
    text-decoration: none;
}

.main-footer_social {
    text-align: center;
}

.main-footer_social ul {
    list-style: none;
}

.main-footer_developer {
    text-align: center;
}

.main-footer_developer a {
    background-color: #000000;
    color: inherit;
}

.main-footer_developer a:focus,
.main-footer_developer a:hover {
    background-color: #ffffff;
    color: #000000;
}


/*--- modal form ----*/

.modal_login {
    background: #ffffff;
    color: #000000;
    margin: 0;
}

.login-form input {
    font: inherit;
    text-transform: uppercase;
    border: 2px solid #000000;
}

.login-form input:hover,
.login-form input:focus {
    border: 2px solid #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    font: inherit;
    color: inherit;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}


/*-------- hidden elements ----------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
}


/*============ price ============*/

.link_logo {
    width: 111px;
    height: 24px;
}

.price-cover {
    width: 80%;
}

.price-content {
    background-color: #ffffff;
    color: #000000
}

.price-content h3 {
    font-size: 24px;
    line-height: 32px;
}


/* -- breadcrumbs -- */

.content_breadcrumbs {
    list-style: none;
}

.breadcrumbs_item,
.breadcrumbs_item-disabled {
    display: inline-block;
    padding-right: 10px;
}

.breadcrumbs_item a {
    color: #000000;
}

.breadcrumbs_item a:hover,
.breadcrumbs_item a:focus {
    color: #663d15;
}

.breadcrumbs_item-disabled {
    color: gray;
}


/*---*/

.grid_title::before,
.grid_title::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 150px;
    border-top: 2px #000000 solid;
    margin: 0 20px 0 20px;
}

.grid_title {
    font-size: 42px;
    line-height: 54px;
}

.grid_promotion ul {
    list-style: none;
}

.promotion_item::before {
    content: "";
    background-image: url("../img/diamond-divider.png");
}